/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-image:linear-gradient(
      rgb(0, 0, 0),
       black
  );
}

button {
  cursor: pointer;
}

a {
    color: #396684;
}

/* Container */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background-image: linear-gradient(
      rgb(19, 19, 80), 
      rgb(39, 39, 131)
  );
  color: white;
  padding: 1.6rem 0;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

/* Actions Bar */

.actions {
    background-color: #ffbb00;
    border-bottom: 1px solid #dedfe0;
    padding: .8rem
}

.actions__container {
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.actions__container--spaced {
    justify-content: space-between
}

/* Form Inputs */

.input {
    border: 3px solid #ff5e01;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
    padding: .4rem .8rem;
}

.dropdown {
    border-radius: 5px;
    border: 3px solid #fc6602;
    background: white;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
}

.button {
    background: #ffbb01;
    border: none;
    border-bottom: 2px solid #ff6600;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease;
}

.button:hover {
    background-image: linear-gradient(
        rgb(19, 19, 80), 
        rgb(39, 39, 131)
    );
}

.button--secondary {
    background: #e70606;
    border-bottom: 2px solid #ff9d00;
}

.button--secondary:hover {
    background-image: linear-gradient(
        rgb(19, 19, 80), 
        rgb(39, 39, 131)
    );
}

/* Note editor */

.title-input {
    border: 5px solid #ff4800;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    padding: .8rem;
    width: 100%;
}

.body-input {
    border: 5px solid #ffd000;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    min-height: 15rem;
    padding: .8rem;
    width: 100%;
}

/* Note List Item */

.list-item {
    text-decoration: none;
    color: #ffffff;
    background: #000000;
    border: 4px solid #ff8800;
    
    border-radius: 20px;
    margin: 1.6rem 0;
    padding: 1.6rem;
    display: block;
    transition: background .3s ease;
}

.list-item:hover {
    background-image: linear-gradient(
        rgb(19, 19, 80), 
        rgb(39, 39, 131)
    );
}

.list-item__title {
    font-size: 1.8rem;
    margin-bottom: .4rem
}

.list-item__subtitle {
    color: rgb(255, 196, 0);
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
}

.empty-message {
    text-align: center;
    margin: 3.2rem 0;
}